/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
}

body {
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5em;
}
@media only screen and (max-width: 62em) {
  p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 34.375em) {
  p {
    font-size: 0.8em;
  }
}

.main {
  width: 100%;
}

.wrapper {
  width: 100%;
}

.header,
.hero,
.order,
.consists,
.quote {
  max-width: 85.625em;
  margin: 0 auto;
}
@media only screen and (max-width: 93.75em) {
  .header,
  .hero,
  .order,
  .consists,
  .quote {
    margin: 0 auto;
    width: 90%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

a.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

a.btn--main {
  border: none;
  color: #fff;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f42c2b),
      to(rgba(0, 0, 0, 0))
    ),
    #460d09;
  background: -o-linear-gradient(top, #f42c2b 0%, rgba(0, 0, 0, 0) 100%),
    #460d09;
  background: linear-gradient(180deg, #f42c2b 0%, rgba(0, 0, 0, 0) 100%),
    #460d09;
  border-radius: 0.625em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125em;
  text-align: center;
}
@media only screen and (max-width: 28.125em) {
  a.btn--main {
    font-size: 0.8em;
  }
}

h4 {
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.04em;
  color: #333333;
}
@media only screen and (max-width: 56.25em) {
  h4 {
    font-size: 0.875em;
  }
}

/* main product container */
.hero__wrapper {
  background-image: url(../img/hero_bg.png);
  background-size: cover;
  width: 100%;
}
@media only screen and (max-width: 93.75em) {
  .hero__wrapper {
    background-position: center;
    height: 76em;
  }
}
@media only screen and (max-width: 62em) {
  .hero__wrapper {
    height: 56em;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 1em;
}
@media only screen and (max-width: 93.75em) {
  .hero {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.hero-box--1 {
  color: #fff;
  width: 100%;
  padding-top: 1.25em;
  margin-bottom: 8.12em;
}
.hero-box--1 h1 {
  padding-bottom: 0.7em;
  width: 17em;
}
@media only screen and (max-width: 93.75em) {
  .hero-box--1 h1 {
    width: 100%;
  }
}
@media only screen and (max-width: 62em) {
  .hero-box--1 h1 {
    width: 100%;
    font-size: 2.5em;
    line-height: 1em;
  }
}
@media only screen and (max-width: 34.375em) {
  .hero-box--1 h1 {
    font-size: 1.5em;
  }
}
.hero-box--1 h2 {
  font-weight: normal;
  font-size: 2.25em;
  width: 20em;
}
@media only screen and (max-width: 93.75em) {
  .hero-box--1 h2 {
    width: 100%;
  }
}
@media only screen and (max-width: 62em) {
  .hero-box--1 h2 {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 34.375em) {
  .hero-box--1 h2 {
    font-size: 0.75em;
  }
}

.hero-box--2 {
  width: 60%;
  position: relative;
}
@media only screen and (max-width: 93.75em) {
  .hero-box--2 {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
}
.hero-box--2 img {
  padding-left: 20em;
}
@media only screen and (max-width: 93.75em) {
  .hero-box--2 img {
    width: 47em;
    height: auto;
    padding-top: 6em;
  }
}
@media only screen and (max-width: 62em) {
  .hero-box--2 img {
    padding-top: 0;
    width: 33em;
    padding-left: 13em;
  }
}
@media only screen and (max-width: 34.375em) {
  .hero-box--2 img {
    width: 25em;
    padding-left: 9em;
  }
}
@media only screen and (max-width: 28.125em) {
  .hero-box--2 img {
    width: 18em;
    padding-left: 4em;
  }
}
.hero-box--2 ul {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  top: 0;
}
@media only screen and (max-width: 62em) {
  .hero-box--2 ul {
    font-size: 1em;
    margin-top: -3em;
  }
}
@media only screen and (max-width: 34.375em) {
  .hero-box--2 ul {
    margin-top: 0;
  }
}
@media only screen and (max-width: 28.125em) {
  .hero-box--2 ul {
    margin-left: -3em;
    margin-top: -2em;
  }
}
.hero-box--2 ul li {
  margin-bottom: 2em;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.2em;
}
@media only screen and (max-width: 34.375em) {
  .hero-box--2 ul li {
    font-size: 0.75em;
  }
}
.hero-box--2 ul li:nth-child(1) {
  margin-left: 10em;
}
.hero-box--2 ul li:nth-child(2) {
  margin-left: 5.5em;
}
.hero-box--2 ul li:nth-child(3) {
  margin-left: 0em;
}
.hero-box--2 ul li:nth-child(4) {
  margin-left: 5.5em;
}

.hero-box--3 {
  width: 30%;
  margin-left: auto;
}
@media only screen and (max-width: 93.75em) {
  .hero-box--3 {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media only screen and (max-width: 28.125em) {
  .hero-box--3 {
    padding: 0;
  }
}

.timer {
  width: 22.25em;
  height: 33.6em;
  padding: 1.8em;
  background: #ffffff;
  -webkit-box-shadow: 0 0.25em 3.125em rgba(136, 136, 136, 0.25);
  box-shadow: 0 0.25em 3.125em rgba(136, 136, 136, 0.25);
  border-radius: 0.9em;
}
@media only screen and (max-width: 93.75em) {
  .timer {
    margin: 0 auto;
    margin-top: 4em;
  }
}
@media only screen and (max-width: 28.125em) {
  .timer {
    width: 18em;
  }
}
.timer h4 {
  text-align: center;
  padding-bottom: 1.25em;
  font-size: 1.12em;
  font-weight: 400;
}
.timer input {
  width: 100%;
  height: 3em;
  background: #eaeaec;
  border-radius: 0.625em;
  border: none;
  margin-bottom: 1.25em;
  padding-left: 1.25em;
}
.timer p {
  font-size: 0.75em;
  line-height: 1em;
}
.timer .btn {
  margin-top: 0.6em;
}

.timer__count {
  margin-top: 0.9em;
  margin-bottom: 2em;
  text-align: center;
}

.timer__num {
  padding: 0.625em 1em;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f42c2b),
      to(rgba(0, 0, 0, 0))
    ),
    #460d09;
  background: -o-linear-gradient(top, #f42c2b 0%, rgba(0, 0, 0, 0) 100%),
    #460d09;
  background: linear-gradient(180deg, #f42c2b 0%, rgba(0, 0, 0, 0) 100%),
    #460d09;
  border-radius: 0.625em;
  font-weight: bold;
  font-size: 1.125em;
  /* identical to box height */
  color: #fff;
  text-align: center;
  margin-bottom: 1.25em;
}

.timer__hours {
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@media only screen and (max-width: 28.125em) {
  .timer__hours {
    margin: 0;
  }
}
.timer__hours::after {
  content: "Часов";
  display: inline;
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 0.9em;
  text-align: center;
  color: #000;
  margin-top: 3em;
  left: 0.3em;
}

.timer__mins {
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@media only screen and (max-width: 28.125em) {
  .timer__mins {
    margin: 0;
  }
}
.timer__mins::after {
  content: "Минут";
  display: inline;
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 0.9em;
  text-align: center;
  color: #000;
  margin-top: 3em;
  left: 0.3em;
}

.timer__sec {
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@media only screen and (max-width: 28.125em) {
  .timer__sec {
    margin: 0;
  }
}
.timer__sec::after {
  content: "Секунд";
  display: inline;
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 0.9em;
  text-align: center;
  color: #000;
  margin-top: 3em;
  left: 0.3em;
}

span.span-decorated {
  color: #f8c67d;
}

.btn--timer {
  width: 16.5em;
  height: 4.5em;
  margin: 0 auto;
  margin-bottom: 1.25em;
}
@media only screen and (max-width: 28.125em) {
  .btn--timer {
    width: 100%;
    font-size: 0.8em;
  }
}

/* promo section */
.promo_wrapper {
  position: relative;
}

.promo {
  margin-top: 2.5em;
  margin-bottom: 4.3em;
}
@media only screen and (max-width: 93.75em) {
  .promo {
    margin-top: 30em;
  }
}
@media only screen and (max-width: 34.375em) {
  .promo {
    margin-top: 18em;
  }
}
.promo h2 {
  padding-bottom: 1em;
  text-align: center;
  font-size: 2.25em;
  text-align: center;
  font-weight: 700;
  width: 22em;
  margin: 0 auto;
}
@media only screen and (max-width: 62em) {
  .promo h2 {
    width: 70%;
    line-height: 1em;
  }
}
@media only screen and (max-width: 34.375em) {
  .promo h2 {
    font-size: 1.3em;
  }
}

.promo__content {
  max-width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
@media only screen and (max-width: 93.75em) {
  .promo__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
  }
}
@media only screen and (max-width: 93.75em) {
  .promo__content img {
    width: 100%;
  }
}

img.ornament-big {
  position: absolute;
  display: block;
  left: 0;
}
@media only screen and (max-width: 93.75em) {
  img.ornament-big {
    display: none;
  }
}

/* info section */
.info {
  max-width: 85.6em;
  margin: 0 auto;
  background: #420707;
  border-radius: 0.9em;
  outline: 1.8em solid #420707;
  outline-offset: 0.0625em;
}
@media only screen and (max-width: 93.75em) {
  .info {
    margin: 0 auto;
    width: 90%;
  }
}
@media only screen and (max-width: 93.75em) {
  .info {
    margin: 0 auto;
    width: 80%;
    height: 100%;
  }
}
.info h3 {
  padding-top: 2.3em;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
  width: 23em;
  margin: 0 auto;
}
@media only screen and (max-width: 62em) {
  .info h3 {
    width: 70%;
  }
}
@media only screen and (max-width: 28.125em) {
  .info h3 {
    padding-top: 1em;
  }
}

.info__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.8em;
  margin-bottom: 4.3em;
}
@media only screen and (max-width: 62em) {
  .info__boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
  }
}
.info__boxes .box {
  width: 100%;
  max-width: 24.3em;
  height: 14em;
  overflow: hidden;
  mix-blend-mode: normal;
  border-radius: 1.25em;
}
@media only screen and (max-width: 93.75em) {
  .info__boxes .box {
    max-width: 30%;
  }
}
@media only screen and (max-width: 62em) {
  .info__boxes .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 2em;
  }
}
.info__boxes .box h4 {
  color: #000;
  font-size: 1.5em;
  padding-bottom: 0.8em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 4em;
}
@media only screen and (max-width: 28.125em) {
  .info__boxes .box h4 {
    margin: 1em;
    font-size: 1em;
  }
}
.info__boxes .box p {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 28.125em) {
  .info__boxes .box p {
    font-size: 0.8em;
  }
}
.info__boxes .box--1 {
  background-image: url(../img/info-box-1.png);
  -webkit-box-shadow: -0.0625em -0.125em 4.9375em 0.3125em rgba(248, 198, 125, 0.38);
  box-shadow: -0.0625em -0.125em 4.9375em 0.3125em rgba(248, 198, 125, 0.38);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.info__boxes .box--2 {
  background-image: url(../img/info-box-2.png);
  -webkit-box-shadow: -0.0625em -0.125em 4.9375em 0.3125em rgba(248, 198, 125, 0.38);
  box-shadow: -0.0625em -0.125em 4.9375em 0.3125em rgba(248, 198, 125, 0.38);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.info__boxes .box--3 {
  background-image: url(../img/info-box-3.png);
  -webkit-box-shadow: -0.0625em -0.125em 4.9375em 0.3125em rgba(248, 198, 125, 0.38);
  box-shadow: -0.0625em -0.125em 4.9375em 0.3125em rgba(248, 198, 125, 0.38);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/* banner 1 */
.banner__wrapper {
  height: 100%;
  background: #f8c67d;
  z-index: 100;
  position: relative;
}

.banner {
  margin-top: 2.5em;
  max-width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 93.75em) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
  }
}
@media only screen and (max-width: 93.75em) {
  .banner img {
    width: 100%;
  }
}
.banner p {
  font-size: 1.5em;
}
@media only screen and (max-width: 93.75em) {
  .banner p {
    padding: 2em;
  }
}
@media only screen and (max-width: 62em) {
  .banner p {
    padding: 1em;
    font-size: 1em;
  }
}
.banner p:first-of-type {
  padding-bottom: 1.25em;
}

.banner--1 {
  margin-left: auto;
}

.banner--2 {
  margin-right: auto;
}

/* text-box */
.text-box {
  padding: 2em;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2em;
}
@media only screen and (max-width: 62em) {
  .quote {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.quote p {
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
}
@media only screen and (max-width: 62em) {
  .quote p {
    padding: 1em;
    font-size: 1em;
  }
}
.quote img {
  margin-left: 6em;
  margin-right: 6em;
}
@media only screen and (max-width: 62em) {
  .quote img {
    margin: 0 auto;
  }
}

/* effect */
.effect__wrapper {
  margin-top: 5em;
  margin-bottom: 5em;
}

.effect {
  margin: 0 auto;
  width: 79.6em;
  height: 45em;
  background: #420707;
  border-radius: 0.9em;
  outline: 1.8em solid #420707;
  outline-offset: 0.0625em;
}
@media only screen and (max-width: 93.75em) {
  .effect {
    margin: 0 auto;
    width: 80%;
    height: 100%;
  }
}
@media only screen and (max-width: 28.125em) {
  .effect {
    outline: 0.8em solid #420707;
  }
}
.effect img {
  height: 100%;
}
@media only screen and (max-width: 62em) {
  .effect img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
}
.effect h2 {
  font-weight: 900;
  font-size: 2.25em;
  text-align: center;
  color: #ffffff;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding-top: 1em;
  line-height: 1em;
}
@media only screen and (max-width: 62em) {
  .effect h2 {
    margin-bottom: 4em;
  }
}
@media only screen and (max-width: 34.375em) {
  .effect h2 {
    font-size: 1.3em;
  }
}
.effect .effect__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 62em) {
  .effect .effect__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2em;
  }
}
@media only screen and (max-width: 28.125em) {
  .effect .effect__info {
    margin: 0.5em;
    padding-bottom: 2em;
  }
}
.effect .effect__info ul li {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.8em;
  color: #ffffff;
}
@media only screen and (max-width: 62em) {
  .effect .effect__info ul li {
    font-size: 1em;
    line-height: 1em;
  }
}
@media only screen and (max-width: 34.375em) {
  .effect .effect__info ul li {
    font-size: 0.6em;
    width: 10em;
  }
}

.ul--left {
  margin-left: 3.125em;
  text-align: left;
  width: 19em;
}
@media only screen and (max-width: 62em) {
  .ul--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
  }
}
.ul--left li {
  width: 12em;
  margin-right: auto;
}
@media only screen and (max-width: 62em) {
  .ul--left li {
    width: 9em;
    margin-right: 0;
  }
}
.ul--left li:nth-child(1) {
  margin-left: 7.5em;
  margin-bottom: 1em;
}
@media only screen and (max-width: 62em) {
  .ul--left li:nth-child(1) {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 2em;
  }
}
@media only screen and (max-width: 62em) {
  .ul--left li:nth-child(2) {
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 62em) {
  .ul--left li:nth-child(2) {
    margin-top: -2em;
  }
}
.ul--left li:nth-child(3) {
  margin-left: 6.25em;
  margin-top: 1em;
}
@media only screen and (max-width: 62em) {
  .ul--left li:nth-child(3) {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 2em;
  }
}

.ul--right {
  margin-right: 3.125em;
  text-align: right;
  width: 19em;
}
@media only screen and (max-width: 62em) {
  .ul--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
  }
}
.ul--right li {
  width: 12em;
  margin-left: auto;
}
@media only screen and (max-width: 62em) {
  .ul--right li {
    width: 9em;
    margin-left: 0;
  }
}
.ul--right li:nth-child(1) {
  margin-left: -7.5em;
  margin-bottom: 4em;
}
@media only screen and (max-width: 62em) {
  .ul--right li:nth-child(1) {
    margin-left: 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 62em) {
  .ul--right li:nth-child(2) {
    margin-top: 5em;
  }
}
.ul--right li:nth-child(3) {
  margin-left: -6.25em;
  margin-top: 4em;
}
@media only screen and (max-width: 62em) {
  .ul--right li:nth-child(3) {
    margin-left: 0;
    margin-top: 0;
  }
}

/* order */
.order__wrapper {
  background-image: url(../img/order-bg.png);
  background-size: cover;
  width: 100%;
  height: 38em;
  position: relative;
}
@media only screen and (max-width: 93.75em) {
  .order__wrapper {
    height: 28em;
  }
}
.order__wrapper img.svg--1,
.order__wrapper img.svg--2,
.order__wrapper img.svg--3,
.order__wrapper img.order-ornament,
.order__wrapper img.circle--1,
.order__wrapper img.circle--2 {
  position: absolute;
  z-index: 10;
}
.order__wrapper img.svg--1 {
  left: 0;
  top: 11em;
}
@media only screen and (max-width: 93.75em) {
  .order__wrapper img.svg--1 {
    top: 0;
  }
}
@media only screen and (max-width: 40.625em) {
  .order__wrapper img.svg--1 {
    top: 6em;
    width: 90%;
  }
}
.order__wrapper img.svg--2 {
  right: 0;
}
@media only screen and (max-width: 93.75em) {
  .order__wrapper img.svg--2 {
    display: none;
  }
}
.order__wrapper img.svg--3 {
  right: 0;
  height: 53em;
  top: -9.6em;
}
@media only screen and (max-width: 93.75em) {
  .order__wrapper img.svg--3 {
    display: none;
  }
}
.order__wrapper img.order-ornament {
  position: absolute;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -12em;
}
@media only screen and (max-width: 93.75em) {
  .order__wrapper img.order-ornament {
    display: none;
  }
}
.order__wrapper img.circle--1 {
  top: 18.7em;
  left: 61em;
}
@media only screen and (max-width: 93.75em) {
  .order__wrapper img.circle--1 {
    display: none;
  }
}
.order__wrapper img.circle--2 {
  bottom: 0;
  right: 12.5em;
  position: absolute;
}
@media only screen and (max-width: 93.75em) {
  .order__wrapper img.circle--2 {
    display: none;
  }
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 3.125em;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 20;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 93.75em) {
  .order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.order__box--1 {
  margin-top: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 93.75em) {
  .order__box--1 {
    margin: 0 auto;
  }
}
.order__box--1 h4 {
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: #ffffff;
  padding-bottom: 1.25em;
  text-transform: none;
}

.order__box--2 {
  margin-right: 18.5em;
  margin-top: 8.5em;
}
@media only screen and (max-width: 93.75em) {
  .order__box--2 {
    margin: 0 auto;
  }
}

/* consists */
.consists__wrapper {
  background-image: url(../img/consists_bg.png);
  background-size: cover;
  width: 100%;
  margin-top: 5em;
}
@media only screen and (max-width: 28.125em) {
  .consists__wrapper {
    margin-top: 1em;
  }
}

.quote--2 {
  margin-top: 13em;
  position: relative;
}
@media only screen and (max-width: 93.75em) {
  .quote--2 {
    margin-top: 39em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 28.125em) {
  .quote--2 {
    margin-top: 36em;
  }
}
.quote--2 p {
  text-align: center;
  width: 24em;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 34.375em) {
  .quote--2 p {
    font-size: 1em;
    width: 17em;
  }
}
.quote--2 img {
  position: absolute;
  display: block;
  height: 100%;
}
@media only screen and (max-width: 93.75em) {
  .quote--2 img {
    position: relative;
  }
}
@media only screen and (max-width: 28.125em) {
  .quote--2 img {
    width: 4em;
  }
}

.consists p {
  width: 24em;
  font-size: 1.5em;
}
@media only screen and (max-width: 62em) {
  .consists p {
    width: 100%;
    font-size: 1em;
  }
}

.consists__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.consists__box {
  width: 40em;
  height: 20em;
  padding: 1.5em 2.5em;
  background: #ffffff;
  -webkit-box-shadow: 0 0.25em 5em rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.25em 5em rgba(0, 0, 0, 0.25);
  border-radius: 1.8em;
  margin-bottom: 2.5em;
  position: relative;
}
@media only screen and (max-width: 93.75em) {
  .consists__box {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 62em) {
  .consists__box {
    width: 36em;
    height: 21em;
  }
}
@media only screen and (max-width: 46.875em) {
  .consists__box {
    width: 27em;
    height: 21em;
  }
}
@media only screen and (max-width: 34.375em) {
  .consists__box {
    width: 20em;
    height: 17em;
    padding: 1em;
  }
}
@media only screen and (max-width: 28.125em) {
  .consists__box {
    height: 16em;
    width: 17em;
  }
}
.consists__box img {
  position: absolute;
}
@media only screen and (max-width: 62em) {
  .consists__box img {
    width: 15em;
  }
}
@media only screen and (max-width: 34.375em) {
  .consists__box img {
    width: 9em;
  }
}
.consists__box h3 {
  font-weight: bold;
  font-size: 1.8em;
  text-transform: uppercase;
  color: #e02927;
  padding-bottom: 1em;
  width: 13em;
}
@media only screen and (max-width: 34.375em) {
  .consists__box h3 {
    font-size: 1.12em;
    line-height: 1em;
    width: 8em;
  }
}
.consists__box p {
  font-weight: 600;
  font-size: 1.12em;
  text-align: left;
  color: #212121;
}
@media only screen and (max-width: 34.375em) {
  .consists__box p {
    font-size: 1em;
    line-height: 1em;
  }
}

img.consists__img--1 {
  top: -4.8em;
  right: -2em;
}
@media only screen and (max-width: 28.125em) {
  img.consists__img--1 {
    top: -2.8em;
    right: -1em;
  }
}

img.consists__img--2 {
  top: -12em;
  right: -4.7em;
}
@media only screen and (max-width: 62em) {
  img.consists__img--2 {
    top: -6em;
  }
}
@media only screen and (max-width: 34.375em) {
  img.consists__img--2 {
    top: -4em;
    right: -2em;
  }
}

img.consists__img--3 {
  top: -9.5em;
  right: -3.5em;
}
@media only screen and (max-width: 62em) {
  img.consists__img--3 {
    top: -5em;
  }
}
@media only screen and (max-width: 34.375em) {
  img.consists__img--3 {
    top: -2em;
  }
}
@media only screen and (max-width: 28.125em) {
  img.consists__img--3 {
    right: -1.5em;
  }
}

img.consists__img--4 {
  top: -9.3em;
  right: -3.5em;
}
@media only screen and (max-width: 34.375em) {
  img.consists__img--4 {
    top: -3em;
    right: -2.5em;
    width: 8em;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
@media only screen and (max-width: 992px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
.header h3 {
  margin-right: 12em;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .header h3 {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 550px) {
  .header h3 {
    font-size: 1.3em;
  }
}

.header__wrapper {
  height: 8em;
  background: #fff;
}
@media only screen and (max-width: 992px) {
  .header__wrapper {
    height: 100%;
  }
}

.btn--header {
  width: 14em;
  height: 3.5em;
}
